[Unit]
Description=Deploy receiver
After=network.target

[Service]
ExecStart=/usr/bin/node /home/debian/deploy-receiver/server.js
EnvironmentFile=/home/debian/deploy-receiver/.env
Restart=always
User=debian

[Install]
WantedBy=multi-user.target
